<section class="users-section">
  <ul class="users-list">
    <li>
    <% @users.each do |user| %>
      Name: <%= user.name %>
      <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
      </span>
      <% if current_user.friend?(user) %>
        <%= link_to "Remove Friend", remove_friend_path(user), 
                                  method: :delete,
                                  data: { confirm: "Are You sure?" },
                                  class: "btn btn-danger" %> 
                  
      <% elsif current_user.pending_friend?.include?(user) %>
        <%= link_to "Cancel Friend Request", cancel_request_path(user), 
                                          method: :delete, 
                                          class: "btn btn-warning"%>

      <% elsif current_user.friend_requests.include?(user) %>
        <%= accept_friendship%>       
        <%= reject_friendship %>
      <% else %>
        <%= form_for(@friendship, url: create_friendship_path(@friendship)) do |f| %>  
          <%= f.hidden_field :friend_id, value: user.id  %>
          <%= f.submit "Add As Friend", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
    </li>   
  </ul>
</section>
